/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #646464 -29.09%,
    #343434 51.77%,
    #000000 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgb(0, 0, 0, 0);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #2B8191;
  appearance: none;
  font-size: 1.3rem;
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0px 9px 15px 1px rgba(0,0,0,0.56);
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

.spellCheckForm {
  display: flex;
  flex-direction: column;
}
.spellCheckForm > button {
  margin-top: 1rem;
  width: 50%;
}

.spellCheckInput {
  width: 90%;
  padding: 1rem;
  background-color: transparent;
  font-size: 2rem;
  color: white;
  border-radius: 10px;
  border: 2px solid #2B8191;
  box-shadow: 0px 9px 15px 1px rgba(0,0,0,0.56);
}
